<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository/>
    <interactiveMode/>
    <offline/>
    <pluginGroups/>
    <servers>
        <server>
            <id>kickass-repo-release</id>
            <username>AKIAWZYUGOBMSSSILWHQ</username>
            <password>2nKs7hiT70Id4b+nB3yXMP/N6zyV+k14YUjRy/Qf</password>
        </server>
        <server>
            <id>kickass-repo-snapshot</id>
            <username>AKIAWZYUGOBMSSSILWHQ</username>
            <password>2nKs7hiT70Id4b+nB3yXMP/N6zyV+k14YUjRy/Qf</password>
        </server>
    </servers>
    <mirrors/>
    <proxies/>
    <profiles/>
    <activeProfiles/>
</settings>